*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.5;
  margin: 0;
  font-size: 16px;
}

/* MOBILE FIRST */

.container {
  padding: 1.5em; /* mobile padding */
  max-width: 1400px; /* on large screens */
  margin-left: auto;
  margin-right: auto;
}

.date {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.tags {
  font-size: 0.875rem;
  color: #585656;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #333;
}

a:hover {
  font-weight: bold;
}

.title {
  line-height: 1.2;
}

/* ===== HEADER ===== */

header {
  background-color: #f5f5f5;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875em 1.5em;
  position: relative;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.25rem;
  font-weight: bold;
}

.logo {
  width: 24px;
  height: 24px;
}

.hamburger {
  display: block;
  font-size: 1.25rem;
  color: #333;
  background-color: transparent;
  padding: 0.3em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-links {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  height: 300px;
  padding: 1.5em;
  background-color: #333;
  list-style-type: none;
  pointer-events: none; /* disable clicking */
  opacity: 0;
  z-index: 1000;
}

.nav-links.active {
  opacity: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* offset-x offset-y blur-radius color */
  pointer-events: auto; /* clickable again */
}

.nav-links li {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #fff;
  margin-bottom: 1.5em;
}

.nav-links a {
  color: #fff;
  display: block;
}

/* ===== FEATURED BLOG ===== */

.featured-blog {
  position: relative;
  width: 100%;
  /* height: 80vh; */
  height: 500px;
  overflow: hidden;
}

.featured-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fix the stretch */
  object-position: 50% 100%; /* horizontal 50% from left, vertical 80% from top */
}

.featured-text {
  position: absolute;
  bottom: 8%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 1.5em;
  max-width: 900px;
}

.featured-title {
  font-size: 2.25rem;
}

.featured-preview {
  font-size: 1.125rem;
}

.featured-tags {
  color: #fff;
}

/* for accessibility */
.featured-link::after,
.blog-card-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* above the image */
}

/* ===== BLOG LIST ===== */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.blog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}

.blog-card:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.blog-card .blog-img {
  margin-bottom: 1em;
  border-radius: 4px;
}

.blog-date {
  font-size: 0.875rem;
}

.blog-card .blog-title {
  margin: 0.25em 0;
}

.blog-card .blog-preview {
  margin-bottom: 0.25em;
}

/* ===== VIEW MORE BTN ===== */

.view-more-container {
  display: flex;
  justify-content: center;
}

.view-more-btn {
  font-family: inherit;
  font-size: 1.25em;
  padding: 0.5em 1.25em;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

/* ===== BLOG/ABOUT PAGE ===== */

.page-header {
  margin-top: 4em;
}

.blog-header .blog-date {
  margin-bottom: 1em;
}

.page-header h1 {
  margin-bottom: 0.4em;
}

.blog-hero-image img {
  border-radius: 4px;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: 50% 50%;
}

.about-img {
  margin-bottom: 1.125em;
  width: 182px;
  height: 182px;
}

.blog-header .blog-preview,
.blog-hero-image img,
.about-intro {
  margin-bottom: 2.625em;
}

.content h2 {
  font-size: 1.125rem;
  margin-bottom: 1.25em;
}

.content h2:not(:first-of-type) {
  margin-top: 1.5em;
}

.content p:not(:last-of-type) {
  margin-bottom: 1.125em;
}

.blog-footer .blog-tags {
  margin-top: 2.25em;
}

/* ===== RECENT BLOGS ===== */

.recent-blogs {
  margin-top: 2em;
}

.recent-blogs h2 {
  margin-bottom: 1.25em;
  text-align: center;
}

/* ===== FOOTER ===== */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  margin-top: 2em;
}

.footer-text {
  color: #fff;
  text-align: center;
  margin: 2.25em;
}

@media (min-width: 768px) {
  .container {
    padding-right: 4em;
    padding-left: 4em;
  }

  /* ===== HEADER ===== */
  .hamburger {
    display: none;
  }

  .nav-links {
    position: static; /* remove absolute */
    background: none;
    width: auto;
    height: auto;
    padding: 0;
    display: flex; /* horizontal menu */
    align-items: center;
    gap: 2em;
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links li {
    margin: 0;
    padding: 0;
    border: none;
  }

  .nav-links a {
    color: #333;
  }

  /* ===== FEATURED ===== */
  .featured-blog {
    height: 600px;
  }
  .featured-img {
    object-position: 50% 30%;
  }

  .featured-title {
    font-size: 3rem;
  }

  .featured-text {
    padding-right: 4em;
  }

  /* ====== BLOG LIST ===== */
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3em;
  }

  /* PAGE MAIN */
  .page-header h1 {
    font-size: 2.25rem;
    margin-bottom: 0.75em;
  }

  .content h2 {
    font-size: 1.5rem;
  }

  .page-header p,
  .content p {
    font-size: 1.125rem;
  }

  .about-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  .blog-tags {
    font-size: 1rem;
  }

  .recent-blogs h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 1060px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-post,
  .about-content {
    padding-right: 4em;
    padding-left: 4em;
  }
}
